<html lang="en">
<head>
    <title>FLASK!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}{% endblock %}
</head>
<body>

    <div class="topnav">
        <a class="active" href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('data') }}">Data</a>
        <a href="{{ url_for('maps') }}">Maps</a>
      </div> 

    {% block body %}{% endblock %}
</body>
</html>